<footer class="footer-carrito">
    <div class="datos-contacto-carrito">
        <P class="tel">Telefono: +54......</P>
        <p><a class="enlace-menu" href="#">Contacto</a></p>
        <p class="redes-soc"><i class="fab fa-facebook-square"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter-square"></i></p>
    </div>
</footer>