<header class="main-header">
    <div class="nav_header">
        <figure>
            <img class="page_logo" src="/images/Logo_black.png" alt="Page logo">
        </figure>
    <div class="burger_menu">
        <div class="burger_btn"></div>
    </div>
    <nav class="navigation_bar">
        <a href="">Home</a>
        <a href="">Trabajos</a>
        <a href="">Servicios</a>
        <a href="">Sobre Mí</a>
        <a href="">Contacto</a>
        <a href="">Cuenta</a>
        <a href=/login>Ingresá</a>
        </nav>
    </div>
</header>