<header class="main-header">
    <div class="nav_header">
        <figure>
            <img class="page_logo" src="/images/Logo_black.png" alt="Page logo">
        </figure>
    <div class="burger_menu">
        <div class="burger_btn"></div>
    </div>
    <nav class="navigation_bar">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="">Trabajos</a></li>
            <li><a href="">Servicios</a>
                <ul>
                    <li><a href="/paquetes">Paquetes</a></li>
                    <li><a href="/CargaEdicionProducto">Crear servicios</a></li>
                </ul>
            </li>
            <li><a href="">Sobre Mí</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="/register">Cuenta</a></li>
            <li><a href=/login>Ingresá</a></li>
        </ul>
        </nav>
    </div>
</header>