<header class="main-header">
    <div class="nav_header">
        <figure>
            <img class="page_logo" src="/images/Logo_black.png" alt="Page logo">
        </figure>
    <div class="burger_menu">
        <div class="burger_btn"></div>
    </div>
    <nav class="navigation_bar">
        <a href="/">Home</a>
        <a href="">Trabajos</a>
        <a href=/paquetes>Servicios
        <a href="">Sobre Mí</a>
        <a href="">Contacto</a>
        <% if(locals.isLogged != undefined) {%> 

        <% if(locals.isLogged) {%> 
            <a href="/user/my_profile">Mi perfil</a>
        <% } else{%> 
            <a href="/user/login_register">Iniciar Sesión</a>
        <% } %> 
        <% } %> 
        
        </nav>
    </div>
</header>
<nav class="mobile_nav">
    <a href="/">Home</a>
    <a href="">Trabajos</a>
    <a href="/paquetes">Servicios</a>
    <a href="">Sobre Mí</a>
    <a href="">Contacto</a>
    <% if(locals.isLogged != undefined) {%> 

        <% if(locals.isLogged) {%> 
            <a href="/my_profile">Mi perfil</a>
        <% } else{%> 
            <a href="/login_register">Iniciar Sesión</a>
        <% } %> 
        <% } %> 
    
</nav>

<script type="text/javascript" src="/js/main.js"></script>