<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet" />
    <title>Document</title>
</head>
<body class="body-carrito">
    <header>
        <div class="logo-box"><img class="logo-erf" src="/images/Logo_black.png"></div>
        <nav>
            <div class="barra-sup">
                <p>|| <a class="enlace-menu" href="#">Inicio</a></p>
                <p>|| <a class="enlace-menu" href="#">Trabajos</a></p>
                <p>|| <a class="enlace-menu" href="#">Paquetes</a></p>
                <p>|| <a class="enlace-menu" href="#">Iniciar Sesión</a></p>  
                <p>|| <a class="enlace-menu" href="#">Registrarse</a></p>
            </div>
        </nav>
    </header>
    <br>
    <main class="servicios-general">
        <article class="module-service">    
            <div class="descripcion-servicio">Casamiento</div>
            <div class="servicio">     
                 <div><img class="foto" src="/images/4fd1671568b079167feae68ffac99dcf.jpg"></div>     
                 <div class="servicio-dos"> 
                     <div class="fecha.evento">
                         <input type="date" name="fecha" value="2021-07-22">
                     </div>
                     <div class="valor-evento">$10000</div>
                     <button class="contratar" type="submit" value="Contratar"> Contratar</button>
                     </div>
             </div>
         </article>
         <article class="module-service">    
            <div class="descripcion-servicio">Fiesta de 15</div>
            <div class="servicio">     
                 <div><img class="foto" src="/images/tematicas-para-fiestas-de-15-anos-4.jpg"></div>
                 <div class="servicio-dos"> 
                     <div class="fecha.evento">
                         <input type="date" name="fecha" value="2021-07-22">
                     </div>
                     <div class="valor-evento">$15000</div>
                     <button class="contratar" type="submit" value="Contratar"> Contratar</button>
                     </div>
             </div>
         </article>
         <article class="module-service">    
            <div class="descripcion-servicio">Empresarial</div>
            <div class="servicio">     
                 <div><img class="foto" src="/images/empresa.jpg"></div>
                 <div class="servicio-dos"> 
                     <div class="fecha.evento">
                         <input type="date" name="fecha" value="2021-07-22">
                     </div>
                     <div class="valor-evento">$7000</div>
                     <button class="contratar" type="submit" value="Contratar"> Contratar</button>
                     </div>
             </div>
         </article>
         
       
    </main>
    <footer class="footer-carrito">
        <div class="datos-contacto-carrito">
            <P class="tel">Telefono: +54......</P>
            <p><a class="enlace-menu" href="#">Contacto</a></p>
            <p class="redes-soc"><i class="fab fa-facebook-square"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter-square"></i></p>
        </div>
    </footer>
</body>
</html>