<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body class="body-carrito">
    <%- include("./partials/header.ejs") %>
    
    <br>
    <main class="servicios-general">
        
        <article class="module-service">    
            <div class="descripcion-servicio">Casamiento</div>
            <div class="servicio">     
                 <div><img class="foto" src="/images/4fd1671568b079167feae68ffac99dcf.jpg"></div>     
                 <div class="servicio-dos"> 
                     <div class="fecha.evento">
                         <input type="date" name="fecha" value="2021-07-22">
                     </div>
                     <div class="valor-evento">$10000</div>
                     <button class="contratar" type="submit" value="Contratar"> Contratar</button>
                     </div>
             </div>
         </article>
         <article class="module-service">    
            <div class="descripcion-servicio">Fiesta de 15</div>
            <div class="servicio">     
                 <div><img class="foto" src="/images/tematicas-para-fiestas-de-15-anos-4.jpg"></div>
                 <div class="servicio-dos"> 
                     <div class="fecha.evento">
                         <input type="date" name="fecha" value="2021-07-22">
                     </div>
                     <div class="valor-evento">$15000</div>
                     <button class="contratar" type="submit" value="Contratar"> Contratar</button>
                     </div>
             </div>
         </article>
         <article class="module-service">    
            <div class="descripcion-servicio">Empresarial</div>
            <div class="servicio">     
                 <div><img class="foto" src="/images/empresa.jpg"></div>
                 <div class="servicio-dos"> 
                     <div class="fecha.evento">
                         <input type="date" name="fecha" value="2021-07-22">
                     </div>
                     <div class="valor-evento">$7000</div>
                     <button class="contratar" type="submit" value="Contratar"> Contratar</button>
                     </div>
             </div>
         </article>
         
       
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>