<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header>
        <img class="logo-erf" src="/images/Logo_black.png">
        <div class="registro">Iniciar sesión</div>
    </header>
    <main>
        <article class="servicio">    
            <div class="desc-servicio">nombre del servicio</div>
            <div class="foto">imagen</div>
            <div class="fecha.evento">
                <input type="date" name="fecha" value="2021-07-22">
            </div>
            <div class="valor-evento">valor</div>
            <div class="contratar">Contratar</div>
        </article>
    </main>
    <footer>
        <div class="datos-contacto">
            <P class="tel">Telefono: +54......</P>
            <p class="redes-soc">Redes Sociales: <i class="fab fa-facebook-square"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter-square"></i></p>
        </div>
    </footer>
</body>
</html>