<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <header class="main-header">
        <div class="nav_header">
            <figure>
                <img class="page_logo" src="/images/Logo_black.png" alt="Page logo">
            </figure>
        <div class="burger_menu">
            <div class="burger_btn"></div>
        </div>
        <nav class="navigation_bar">
            <a href="">Home</a>
            <a href="">Trabajos</a>
            <a href="">Servicios</a>
            <a href="">Sobre Mí</a>
            <a href="">Contacto</a>
            <a href="">Cuenta</a>
            <a href=/login>Ingresá</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="slider">
            <div class="slide">
                <img src="/images/slider/slider1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/images/slider/slider2.jpg" alt="">
            </div>

            <div class="slide">
                <img src="/images/slider/slider3.jpg" alt="">
            </div>

            <div class="slide">
                <img src="/images/slider/slider4.jpg" alt="">
            </div>

            <div class="slide">
                <img src="/images/slider/slider5.jpg" alt="">
            </div>
        </div>
        <div class="trabajos_cotainer">
            <h2 class="titulo_trabajos">Trabajos recientes</h2>
            <div class="trabajos_bloks">
                <article class="trabajos_preview">
                    <img src="/images/works_preview/preview1.jpg" alt="">
                </article>
                <article class="trabajos_preview">
                    <img src="/images/works_preview/preview2.jpg" alt="">
                </article>
                <article class="trabajos_preview">
                    <img src="/images/works_preview/preview3.jpg" alt="">
                </article>
                <article class="trabajos_preview">
                    <img src="/images/works_preview/preview4.jpg" alt="">
                </article>
                <article class="trabajos_preview">
                    <img src="/images/works_preview/preview5.jpg" alt="">
                </article>
                <article class="trabajos_preview">
                    <img src="/images/works_preview/preview6.jpg" alt="">
                </article>
            </div>
        </div>
        <h2 class="titulo_trabajos">Testimonios</h2>
        <div class="testimonios_main">
            <div class="testimonios_box">
                <div class="testimonio">
                    <img src="/images/works_preview/preview1.jpg" alt="">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit quis nemo ex ab, aliquam accusamus numquam dignissimos explicabo reiciendis laboriosam obcaecati alias quidem earum fuga harum assumenda magnam inventore doloremque!</p>
                    <h2>Test</h2>
                </div>

            </div>
        </div>
    </main>

</body>
</html>
