<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body class="productlistbody">
    
    <%- include('./partials/header.ejs') %>
    
    <div class="contetlistpro">
        <div class="listconteiner">
            <h2>Nuestros servicios:</h2>
            <div class="conteinerlistcolumn">
                <div data-tilt data-tilt-glare data-tilt-max-glare="0.8" class="cardoflist">
                    <div class="imgoflistcard">
                        <img src="/images/works_preview/preview1.jpg" alt="">
                        <h3>Bodas</h3>
                    </div>
                    <div class="buttoncardlist">
                        <a href="">Conocer más</a>
                    </div>
                </div>
                <div data-tilt data-tilt-glare data-tilt-max-glare="0.8" class="cardoflist">
                    <div class="imgoflistcard">
                        <img src="/images/paquetes_img/giuliana fiest  (450).jpg" alt="">
                        <h3>15 Años</h3>
                    </div>
                    <div class="buttoncardlist">
                        <a href="">Conocer más</a>
                    </div>
                    
                </div>
                <div data-tilt data-tilt-glare data-tilt-max-glare="0.8" class="cardoflist">
                    <div class="imgoflistcard">
                        <img src="/images/new_fotos/sesiones (5).jpg" alt="">
                        <h3>Sesiones</h3>
                    </div>
                    <div class="buttoncardlist">
                        <a href="">Conocer más</a>
                    </div>
                    
                </div>
                <div data-tilt data-tilt-glare data-tilt-max-glare="0.8" class="cardoflist">
                    <div class="imgoflistcard">
                        <img src="/images/new_fotos/resepsiones (9).jpg" alt="">
                        <h3>Recepciones</h3>
                    </div>
                    <div class="buttoncardlist">
                        <a href="">Conocer más</a>
                    </div>
                </div>
            </div>
           
    
        </div>
    </div>
    
    <script type="text/javascript" src="/js/vanilla-tilt.min.js"></script>

</script>
</body>
</html>