<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Producto</title>
</head>
<body>
    <header class="main-header">
        <div class="nav_header">
            <figure>
                <img class="page_logo" src="/images/Logo_black.png" alt="Page logo">
            </figure>
        <div class="burger_menu">
            <div class="burger_btn"></div>
        </div>
        <nav class="navigation_bar">
            <a href="">Home</a>
            <a href="">Trabajos</a>
            <a href="">Servicios</a>
            <a href="">Sobre Mí</a>
            <a href="">Contacto</a>
            <a href="">Cuenta</a>
            <a href=/login>Ingresá</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="slider">
            <h2 class="title_slider" >Fiesta de 15 años</h2>
            <div class="slide">
                <img src="/images/slider15años/slider2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="/images/slider15años/slider3.jpg" alt="">
            </div>

            <div class="slide">
                <img src="/images/slider15años/slider1.jpg" alt="">
            </div>

            <div class="slide">
                <img src="/images/slider15años/slider5.jpg" alt="">
            </div>
            
            <div class="slide">
                <img src="/images/slider15años/slider4.jpg" alt="">
            </div>
            
        </div>
        <div class="servicio_box">
            <h2>El servicio incluye</h2>
            <div class="list_services">
                <ul>
                    <li>Sesión fotográfica pre 15 años</li>
                    <li>Vide Clip de la sesion fotografica</li>
                    <li>Historia de Vida</li>
                    <li>Fotografia durante el evento</li>
                    <li>Filmacion durante el evento</li>
                    <li>Acceso a tus fotos desde la nube</li>
                </ul>
                <h3>Valor: $50.000</h3>
            </div>
            <div class="btn_services">
                <button type="button">Contratar</button>
                <p>o</p>
                <button type="button">Resevar una llmada</button>
            </div>
        </div>
        <div class="trabajos_cotainer">
            <h2 class="titulo_trabajos">Trabajos recientes</h2>
            <div class="trabajos_bloks">
                <article class="trabajos_preview">
                    <img src="/images/works_preview/preview1.jpg" alt="">
                </article>
                <article class="trabajos_preview">
                    <img src="/images/works_preview/preview2.jpg" alt="">
                </article>
                <article class="trabajos_preview">
                    <img src="/images/works_preview/preview3.jpg" alt="">
                </article>
        </div>
        
    </main>
</body>
</html>