<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" />
    <title>Register</title>
</head>
<header>
    <div class="logo-box"><img class="logo-erf" src="/images/Logo_black.png"></div>
    <nav>
        <div class="barra-sup">
            <p>|| <a href="#">Inicio</a></p>
            <p>|| <a href="#">Trabajos</a></p>
            <p>|| <a href="#">Paquetes</a></p>
            <p>|| <a href="#">Iniciar Sesión</a> || <a href="#">Registrarse</a> ||</p>
        </div>
    </nav>
</header>
<body>
    <main>
        <div class="cajaregister">
        <form action="/" method="GET" class="login-form">
             <div class="control-form">
                 <label for="usuario">Nombre</label>
                 <input type="text" name="usuario">
             </div>
             <div class="control-form">
                <label for="usuario">Apellido</label>
                <input type="text" name="usuario">
            </div>
            <div class="control-form">
                <label for="usuario">email</label>
                <input type="email" name="email">
            </div>
             <div class="control-form">
                 <label for="password">Ingrese su contraseña</label>
                 <input type="password" name="password">
             </div>
             <button type="submit" value="Enviar" class="boton-enviar">Registrarse</button>
        </form>
        </div>
     </main>
</body>
</html>
