<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
</head>

    <%- include('./partials/header') %>

<body class="bodyregister">
    <main>
        <div class="cajaregister">
        <form action="/" method="GET" class="login-form">
             <div class="control-form">
                 <label for="usuario">Nombre</label>
                 <input type="text" name="usuario">
             </div>
             <div class="control-form">
                <label for="usuario">Apellido</label>
                <input type="text" name="usuario">
            </div>
            <div class="control-form">
                <label for="usuario">email</label>
                <input type="email" name="email">
            </div>
             <div class="control-form">
                 <label for="password">Ingrese su contraseña</label>
                 <input type="password" name="password">
             </div>
             <button type="submit" value="Enviar" class="boton-enviar">Registrarse</button>
        </form>
        </div>
     </main>
     <%- include('./partials/footer') %>

</body>
</html>
