*{
    /*border:1px solid grey;*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body-carrito{
    background-image: url(../images/fondo1.jpg) ;
    background-attachment: fixed;
    background-size: 100%;
}

.logo-box{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-erf{
    width: 95%;
    height: 65%;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.barra-sup{
    display: flex;
    width: 100%;
    size: 24px;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(131, 125, 125);
    color: white;
}

.enlace-menu:link{
    color: white;
}    
.enlace-menu:visited{
    color: white;
}


.servicios-general{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin:0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.foto{
    width: 100%;
}

.module-service{
    width: 30%;
    display: flex;
    background-size: cover;
    background-color: rgb(219, 209, 209, .8);
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    border:1px solid grey;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    margin:0 5px;
    padding: 15px
}

.servicio{
    width: 100%;
    display: flex;
    background-size: cover;
    flex-direction: row;
    margin:0 5px;
    padding: 5px
}

.descripcion-servicio{
    width: 100%;
    text-align: center;
    size: 70%;
}

.servicio-dos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contratar{
    background-color: rgb(221, 214, 214); 
    box-shadow: 0px 0px 10px rgb(100,100,100);
    border:1px solid grey
}

.datos-contacto-carrito{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.9);
    
}

.fa-facebook-square{
    margin:0 10px;
    color:white;
    
}
.fa-instagram{
    margin:0 10px;
    color:white;
}
.fa-twitter-square{
    margin:0 10px;
    color:white;
}

.tel{
    color: white;
}

.desc-servicio{
    size: 25px;
}
.titulo_trabajos{
    text-align: center;
    padding: 25px;
}
.burger_menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 40px;
}
.burger_menu .burger_btn{
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
}
.burger_menu .burger_btn::before,
.burger_menu .burger_btn::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
}
.burger_menu .burger_btn::before{
    transform: translateY(-10px);
}
.burger_menu .burger_btn::after{
    transform: translateY(+10px);
}
.nav_header figure{
    max-width: 225px;
    width: 70%;
    max-height: 65px;
    align-self: center;
    text-align: left;
}
.page_logo{
    width: 95%;
    height: 65%;
}
.nav_header{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    
    align-items: center;
    padding: 15px 0;
    padding-left: 20px;
    padding-right: 20px;
}
.navigation_bar{
    display: none;
    text-align: center;
    width: 70%;
    
}
.navigation_bar a{
    text-decoration: none;
    letter-spacing: 2.3px;
    padding: 10px 26px;
}
.navigation_bar ul a{
    text-decoration: none;
    color: #222222;
    letter-spacing: 2.3px;
    padding: 10px 26px;
    
}
.slider{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
}
.slider .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    visibility: hidden;
    
    clip-path: circle(0.4% at 3% 50%);

    animation: slider 20s linear infinite;
}
.slider .slide:nth-child(1){
    animation-delay: 0s;
}
.slider .slide:nth-child(2){
    animation-delay: 4s;
}
.slider .slide:nth-child(3){
    animation-delay: 8s;
}
.slider .slide:nth-child(4){
    animation-delay: 12s;
}
.slider .slide:nth-child(5){
    animation-delay: 16s;
}

.slider .slide img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
@keyframes slider{
    0%{
        
        clip-path: circle(0% at 0% 50%);
    } 
    2%{
        visibility: visible;
        opacity: 1;
        clip-path: circle(150% at 0% 50%);
        /* transition: 2s ease;
        transition-property: clip-path; */
    }
    18%{
        visibility: visible;
        opacity: 1;
        clip-path: circle(150% at 0% 50%);
    } 
    20%,100%{
        visibility: hidden;
        opacity: 0;
        clip-path: circle(150% at 0% 50%);
    } 
    
}
.trabajos_bloks{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border: 5px solid red;
}
.trabajos_preview{
    width: 100%;
}
.trabajos_preview img{
    width: 100%;
}

/* register; */ 

.login-form {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: #ebebeb;
    border-radius: 5px;
    margin: 5% 15% 5% 15%;
    display: flex;
    flex-direction: column;
  }
  .control-form {
    margin-bottom: 20px;
    align-items: center;
  }
  .control-form label {
    display: flex;
  }
  .control-form input {
    display: flex;
    width: 100%;
  }

  .boton-enviar {
    background-color: #1259c3;
    font-size: 20px;
    color: white;
    border-radius: 5px;
  }

  .bodyregister{
    background-image: url(../images/fondoregister.jpg) ;
    background-attachment: fixed;
    background-size: 100%;
}

/* login; */ 

.login-form {
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid black;
    background-color: #ebebeb;
    border-radius: 5px;
    margin: 5% 15% 5% 15%;

}
.control-form{
    margin-bottom: 20px;
}
.control-form label{
    display: flex;
}
.control-form imput{
    display: flex;
    width: 100%;
}
.boton-enviar{
    background-color: #1259c3;
    font-size: 20px;
    color: white;
}
