*{
    /*border:1px solid grey;*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*login nuevo-------------------------------------*/

.main__login-register{
 
   
    text-decoration: none;
    font-family: sans-serif;
}

.body__login-register{
    background-image: url(../images/portada-studio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main__login-register{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(98, 109, 119, 0.3);
}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #8a939c;
}

/*formulario*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #8a939c;
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #8a939c;
    color: white;
    cursor: pointer;
    outline: none;
}

.formulario__login{
    opacity: 1;
    display: block;
}

.formulario__register{
    display: none;
}

/*responsive*/

@media screen and (max-width: 850px){

    .main__login-register{
        margin-top: 50px;
    }
    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin:auto;
    }
    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}



/*fin login nuevo---------------------------------*/

.error_register{
    background-color: rgba(245, 141, 6, 0.7);
    font-size: 15px;
    color: white;
    text-align: center;
    border-radius: 80%;

}

.no_va{
    display: none;
}

.body-carrito{
    background-image: url(../images/fondo1.jpg) ;
    background-attachment: fixed;
    background-size: 100%;
}



.logo-box{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-erf{
    width: 95%;
    height: 65%;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.9);
}

.barra-sup{
    display: flex;
    width: 100%;
    size: 24px;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(131, 125, 125);
    color: white;
}

.enlace-menu:link{
    color: white;
}    
.enlace-menu:visited{
    color: white;
}


.servicios-general{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin:0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.foto{
    width: 100%;
}

.module-service{
    width: 30%;
    display: flex;
    background-size: cover;
    background-color: rgb(219, 209, 209, .8);
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    border:1px solid grey;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    margin:0 5px;
    padding: 15px
}

.servicio{
    width: 100%;
    display: flex;
    background-size: cover;
    flex-direction: row;
    margin:0 5px;
    padding: 5px
}

.descripcion-servicio{
    width: 100%;
    text-align: center;
    size: 70%;
}

.servicio-dos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contratar{
    background-color: rgb(221, 214, 214); 
    box-shadow: 0px 0px 10px rgb(100,100,100);
    border:1px solid grey
}

.footer-carrito{
    flex-direction: row;
}

.datos-contacto-carrito{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.9);
    
}

.fa-facebook-square{
    margin:0 10px;
    color:white;
    
}
.fa-instagram{
    margin:0 10px;
    color:white;
}
.fa-twitter-square{
    margin:0 10px;
    color:white;
}

.tel{
    color: white;
}

.desc-servicio{
    size: 25px;
}
.titulo_trabajos{
    text-align: center;
    padding: 25px;
}
.burger_menu{
    position: relative;
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 35px;
    width: 40px;
}
.burger_btn{
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
.burger_menu .burger_btn::before,
.burger_menu .burger_btn::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
.burger_menu .burger_btn::before{
    transform: translateY(-10px);
}
.burger_menu .burger_btn::after{
    transform: translateY(+10px);
}
.burger_menu.is_active .burger_btn{
    
    background: transparent;
    
}
.burger_menu.is_active .burger_btn::before{
    transform: rotate(-45deg);
}
.burger_menu.is_active .burger_btn::after{
    transform: rotate(45deg);
}
.mobile_nav{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 10;
    min-height: 100vh;
    padding-top: 10px;
    min-width: 100vw;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(0.0% at 96% 4%);
    transition: 0.5s ease-in-out;
}
.mobile_nav a{
    display: none;
    transition: 0.8s ease-in-out;
}
.mobile_nav.is_active{
    
    clip-path: circle(150% at 96% 4%);
}

.mobile_nav.is_active a{
    display: block;

    text-align: center;
    margin: 2px auto;
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
    transition: 0.8s ease-in-out;
}
.nav_header figure{
    max-width: 225px;
    width: 70%;
    z-index: 100;
    max-height: 65px;
    align-self: center;
    text-align: left;
}
.page_logo{
    width: 95%;
    z-index: 100;
    height: 65%;
}
.main-header{
    background-color: white;
}
.nav_header{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
    
    align-items: center;
    padding: 15px 0;
    padding-left: 20px;
    padding-right: 20px;
}
.navigation_bar{
    display: none;
    text-align: center;
    width: 80%;
    
}
.navigation_bar a{
    text-decoration: none;
    letter-spacing: 2.3px;
    padding: 10px 26px;
    color: #222222;

}

ul, ol {
    list-style: none;
}

.nav > li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav li:hover > ul {
    display: block;
    background-color: rgb(219, 209, 209, .7);
   
    
}

.slider{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
}

.slider .title_slider{
    position: absolute;
    z-index: 1;
    /* bottom: 50%; */
    font-size: 2.5em;
    font-weight: bold;
    top: 50%;
    color: white;
    text-shadow: 0px 1px 20px rgb(100 100 100);
}
.slider .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    visibility: hidden;
    
    clip-path: circle(0.4% at 3% 50%);

    animation: slider 20s linear infinite;
}
.slider .slide:nth-child(1){
    animation-delay: 0s;
}
.slider .slide:nth-child(2){
    animation-delay: 4s;
}
.slider .slide:nth-child(3){
    animation-delay: 8s;
}
.slider .slide:nth-child(4){
    animation-delay: 12s;
}
.slider .slide:nth-child(5){
    animation-delay: 16s;
}

.slider .slide img{
    width: 100%; 
    height: 300px;
    object-fit: cover;
}
.servicio_box{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 90%;
    align-content: center;
}
.servicio_box h2{
    text-align: center;
    margin:10px;
    width: 100%;
}
.list_services{
    font-size: 1.2em;
    font-weight: 500;
}
.servicio_box h3{
    width: 100%;
    font-size: 1.2em;
    font-weight: 200;
    margin: 10px;
    text-align: center;
}
.btn_services{
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn_services a{
    padding: 10px 12px;
    color: white;
    text-align: center;
    margin: 5px;
    background-color: #323436f0;
    transform: translateZ(20px);
    border-radius: 40px;
    letter-spacing: 1px;
    text-decoration: none;
}
.contratar_btn, .llamada_btn{
    width: 40%;
}
.contratar_btn:hover, .llamada_btn:hover{
    background-color: #323436;
}
.btn_services .editar_btn_detail{
    width: 50%;
}
.btn_services .eliminar_btn_detail{
    background-color: #fc4f38;
    width: 50%;
}

@keyframes slider{
    0%{
        
        clip-path: circle(0% at 0% 50%);
    } 
    2%{
        visibility: visible;
        opacity: 1;
        clip-path: circle(150% at 0% 50%);
        /* transition: 2s ease;
        transition-property: clip-path; */
    }
    18%{
        visibility: visible;
        opacity: 1;
        clip-path: circle(150% at 0% 50%);
    } 
    20%,100%{
        visibility: hidden;
        opacity: 0;
        clip-path: circle(150% at 0% 50%);
    } 
    
}
/* Lista de productos */
.contetlistpro{
    /*   */
    min-height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.productlistbody{
    background-color: rgb(20, 20, 20);
}
.listconteiner{
    display: flex;
    background-color: rgb(20, 20, 20);
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    
}
.listconteiner h2{
    padding-top: 30px;
    padding-bottom: 30px;
}
.conteinerlistcolumn{
    display: flex;
    /* margin: 50px; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}
.cardoflist{
    display: flex;
    flex-direction: column;
    
    margin: 30px;
    height: 400px;
    width: 300px;
    justify-content: center;
    transform: perspective(1000px);
    align-items: center;
    background: #232323;
    box-shadow: 0 8px 32px  0 rgba(0, 0, 0, 0.2);
    
}
.cardoflist .imgoflistcard{
    
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transform: translateZ(50px);
    width: 100%;
    height: 100%;
    transition: 0.9s ease-in-out;
}

.imgoflistcard img{
    max-width: 100%;
    transform-style: preserve-3d;
    
    transform: translateZ(50px);
    border-radius: 2px;
    margin-bottom: 10px;
    transition: 0.9s ease-in-out;
}

.buttoncardlist{
    position: absolute;
    bottom: 40px;
    transition: 0.5s ease-in-out;
    padding: 15px;
    z-index: 10;
    transform-style: preserve-3d;
    transform: translateZ(60px);
    opacity: 0;
    visibility: hidden;
}
.buttoncardlist a{
    padding: 10px 12px;
    color: white;
    background-color: #495464;
    transform: translateZ(20px);
    border-radius: 40px;
    letter-spacing: 1px;
    text-decoration: none;
}
.cardoflist[data-scroll="in"] .imgoflistcard{

    transform: translateY(-100px);
}

.cardoflist[data-scroll="in"]  .imgoflistcard img{
    box-shadow: 0 8px 32px  0 rgba(0, 0, 0, 0.2);
}

.cardoflist[data-scroll="in"] .buttoncardlist{
    opacity: 1;
    visibility:visible;
    transform: translateY(-40px);
} 
.plus_div .fa-plus{
    color: rgb(20, 20, 20);
    font-size: 25px;
    line-height: 50px;
}
.plus_div {
    background: #363636;
    width: 50px;
    position: fixed;
    height: 50px;
    right: 0;
    bottom: 0;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 50px
}
/* fin lista de productos */
.trabajos_bloks{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.trabajos_preview{
    width: 100%;
}
.trabajos_preview img{
    width: 100%;
}
.testimonios_main{
    display: flex;
    position: relative;
    justify-content: center;
    height: 200px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}
.testimonios_box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
    border-radius: 100px;
    background-color:rgba(128, 128, 128, 0.3);  
   
}
.testimonios_box .testimonio{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 100px;
    
}
.testimonios_box .testimonio img{
    width: 180px;
    border-radius: 50%;
    border: 10px solid white;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.testimonios_box .testimonio p{
    text-align: center;
    align-self: center;
    margin-top: 30px;
    width: 90%;
}
.testimonios_box .testimonio h2{
    text-align: center;
    align-self: center;
    margin-top: 10px;
    width: 50%;
}
/* register; */ 

.login-form {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: #ebebeb;
    border-radius: 5px;
    margin: 5% 15% 5% 15%;
    display: flex;
    flex-direction: column;
  }
  .control-form {
    margin-bottom: 20px;
    align-items: center;
  }
  .control-form label {
    display: flex;
  }
  .control-form input {
    display: flex;
    width: 100%;
  }

  .boton-enviar {
    background-color: #1259c3;
    font-size: 20px;
    color: white;
    border-radius: 5px;
  }

  .bodyregister{
    background-image: url(../images/fondoregister.jpg) ;
    background-attachment: fixed;
    background-size: 100%;
    background-color: rgba(238, 236, 236, 0.6);
}

/* login; */ 

.login-form {
    padding: 20px;
    margin-top: 20px;
    border-top: 1px solid black;
    background-color: rgba(238, 236, 236, 0.6);
    border-radius: 5px;
    margin: 5% 15% 5% 15%;

    

}
.body-login{
    background-image: url(../images/fondoregister.jpg) ;
    background-attachment: fixed;
    background-size: 100%;
}


.control-form{
    margin-bottom: 20px;
}
.control-form label{
    display: flex;
}
.control-form imput{
    display: flex;
    width: 100%;
}
.boton-enviar{
    background-color: #1259c3;
    font-size: 20px;
    color: white;
}

.footer-carrito {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bodycargaymodificacion{
    background-image: url(../images/fotoformcarga.jpg) ;
    background-attachment: fixed;
    background-size: 100%;
}

.cajacargaedicion {
    width: 50%;
}

/* Medias query */
    @media screen and (min-width: 1200px){
        /* Lista de productos */
        .cardoflist{
            backdrop-filter: blur(15px);
        transform-style: preserve-3d;
        transform: perspective(1000px);
        }
        .cardoflist:hover .imgoflistcard{
            transform: translateY(-100px);
            
        }
        .cardoflist:hover .imgoflistcard img{
            /* transform: translateY(-40px) scale(1.2); */
            box-shadow: 0 8px 32px  0 rgba(0, 0, 0, 0.2);
            
        }
        .cardoflist:hover .buttoncardlist{
            opacity: 1;
            visibility:visible;
            transform: translateY(-40px);
        }
        .plus_div{
            margin-right: 15px;
            margin-bottom: 15px;
        }
        /* Fin de Lista de productos */
        /* nav bar */
        .burger_menu{
            display: none;
        }
        .navigation_bar{
            display: block;
    
        }
    }



/* Fin de Medias query */